<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body style="flex-direction: column;">
    <nav>
        <a href="/" class="active">home page</a>
        <a href="/blogs">blogs</a>
        <a href="/profile">profile</a>
        <a href="/sign-in">sign in</a>
        <a href="/sign-up">sign up</a>
    </nav>
    <h2>welcome blog app!</h2>
</body>
</html>